


<nav class="bg-slate-100 py-4">

  <div class="container text-center mx-auto 2xl:w-11/12 flex flex-col lg:flex-row lg:justify-between">

    <!-- left -->
    <div class="gap-3 flex flex-col items-center lg:flex-row ">

      <img class="w-36" src="assets/images/freshcart-logo.svg">
  
      <ul class="flex flex-col gap-1 lg:flex-row lg:gap-3">
        @if(isLogin)
        {
          <li><a routerLink="/home" routerLinkActive="text-main font-bold" >{{'Home' | translate}}</a></li>
        <li><a routerLink="/cart" routerLinkActive="text-main font-bold">{{'Cart' | translate}}</a></li>
        <li><a routerLink="/products" routerLinkActive="text-main font-bold">{{'Products' | translate }}</a></li>
        <li><a routerLink="/categories" routerLinkActive="text-main font-bold">{{'Category' | translate}}</a></li>
        <li><a routerLink="/brands" routerLinkActive="text-main font-bold">{{'Brands'  | translate}}</a></li>
        }
      </ul>

    </div>
  
    <!-- right -->
    <div class="gap-3 items-center  flex flex-col lg:flex-row">
  
      <ul class="gap-3 flex flex-col lg:flex-row lg:order-1">
        @if(!isLogin)
        {
          <li><a routerLink="/login" routerLinkActive="text-main font-bold cursor-pointer">{{'logIn' |translate }}</a></li>
        <li><a routerLink="/register" routerLinkActive="text-main font-bold cursor-pointer">{{'Register' | translate}}</a></li>
        }
      
        @if(isLogin)
        {
          <li><a routerLink="/cart">
            <i class="fa-solid fa-cart-shopping text-main"></i>
          </a></li>
          <li><a (click)="logout()" routerLinkActive="text-main font-bold cursor-pointer" >{{'Logout' |translate}}</a></li>
          <li><a class="cursor-pointer" routerLinkActive="text-main font-bold cursor-pointer" (click)="changLang('en')" >{{'En' }}</a></li>
          <li><a class="cursor-pointer" routerLinkActive="text-main font-bold cursor-pointer" (click)="changLang('ar')" >{{'Ar' }}</a></li>
        }
      </ul>
  
      <div class="gap-3 flex flex-row justify-center">
       <a href="https://www.facebook.com/login/" target="_blank"> <i class="fa-brands fa-facebook cursor-pointer"></i></a>
       <a href="https://www.youtube.com/" target="_blank"><i class="fa-brands fa-youtube cursor-pointer"></i></a> 
       <a target="_blank"><i class="fa-brands fa-linkedin cursor-pointer"></i></a>
        <a><i class="fa-brands fa-instagram cursor-pointer"></i></a>
        <a>  <i class="fa-brands fa-twitter cursor-pointer"></i></a>
      </div>
  
    </div>

  </div>

</nav>






















<!-- <nav class=" bg-slate-100 py-3">
  <div class="container mx-auto 2xl:w-11/12 flex flex-col lg:flex-row lg:justify-between text-center">
    <div class="flex flex-col lg:flex-row gap-3 items-center">
      <img class="w-36" src="assets/images/freshcart-logo.svg">

      <ul class="flex flex-col lg:flex-row lg:gap-3 ">
        @if(isLogin)
         {
          <li><a routerLink="/home" routerLinkActive="rounded-full bg-main p-2 text-white hover:text-white">Home</a></li>
          <li><a routerLink="/cart" routerLinkActive="rounded-full bg-main p-2 text-white">cart</a></li>
          <li><a routerLink="/products" routerLinkActive="rounded-full bg-main p-2 text-white">products</a></li>
          <li><a routerLink="/categories" routerLinkActive="rounded-full bg-main p-2 text-white">categories</a></li>
          <li><a routerLink="/brands" routerLinkActive="rounded-full bg-main p-2 text-white">Brands</a></li>
         }

       
      </ul>
    </div>


    <div class="flex flex-col lg:flex-row lg:gap-3 lg:items-center">

      <ul class="flex flex-col lg:flex-row gap-1 lg:gap-3">
        @if(!isLogin)
        {
          <li><a routerLink="/login" routerLinkActive="rounded-full bg-main p-2 text-white">Login</a></li>
          <li><a routerLink="/register" routerLinkActive="rounded-full bg-main p-2 text-white">Register</a></li>
         
        }
        @if(isLogin)
        {
          <li><a (click)="logout()">logout</a></li>
        }
       

      </ul>

      <div class="flex gap-3 justify-center">
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-twitter"></i>
        <i class="fa-brands fa-linkedin"></i>
        <i class="fa-brands fa-youtube"></i>
        <i class="fa-brands fa-instagram"></i>
      </div>

    </div>
  </div>
</nav>







 -->















<!-- <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container">
      <a class="navbar-brand" href="#">
        <img src="assets/images/freshcart-logo.svg">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse d-flex justify-content-between navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
     
         @if(isLogin)
         {
          <a class="nav-link" routerLink="home">Home</a>
          <a class="nav-link" routerLink="cart">Cart</a>
          <a class="nav-link" routerLink="products">Products</a>
          <a class="nav-link" routerLink="categories">Categories</a>
          <a class="nav-link" routerLink="brands">Brands</a>
         }
         
        </div>
        <div class="d-flex gap-3 align-items-center"> 
          <i class="fa-brands fa-facebook cursor-pointer"></i>
          <i class="fa-brands fa-twitter cursor-pointer"></i>
          <i class="fa-brands fa-instagram cursor-pointer"></i>
          <i class="fa-brands fa-youtube cursor-pointer"></i>
          <i class="fa-brands fa-linkedin cursor-pointer"></i>

          @if(!isLogin)
          {
            <a class="nav-link" routerLink="login">Login</a>
          <a class="nav-link" routerLink="register">Register</a>
          }
          
          @if(isLogin)
          {
            <a (click)="logout()" class="nav-link cursor-pointer" >Logout</a>
          }

        </div>
      </div>
    </div>
  </nav> -->